.projects-container {
    min-height: 93vh;
    padding-top: 7vh;
}

.project-box {
    display: inline-block;
    margin: 12px 0px;
}

.project-video {
    width: 95vw;
    margin-bottom: 4px;
}

.project-description {
    margin: 10px 11px;
}