.bars-container {
    height: 36px;
    width: 36px;
    border: 2px solid white;
    border-radius: 50%;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    background-color: #181D23;
}

.bars-container:hover {
    border-color: #0078FF;
}

.menu-icon {
    color: white;
}

.menu-container {
    position: fixed;
    top: 55px;
    left: 10px;
    z-index: 10;
    padding: 5px;
    text-align: left;
    border: 2px solid white;
    border-radius: 10px;
    background-color: #181D23;
}

.menu-links {
    text-decoration: none;
    color: white;
}

@media(min-width: 700px){
    .bars-container{
        height: 40px;
        width: 40px;
    }

    .menu-icon {
        font-size: 19px;
    }

    .menu-container {
        top: 60px;
    }
}