.skills-container {
    min-height: 94vh;
    padding: 6vh 0vw;
}

.skill-box {
    display: inline-block;
    padding: 5px 5px;
    border: 2px solid white;
    border-radius: 20px;
    margin: 4px;
}

.skill-box:hover {
    border-color: #0078FF;
}

.skills-flex {
    display: flex;
    align-items: center;
}

.skill-icon {
    height: 28px;
    margin-right: 5px;
}

.skill-name {
    font-size: 17px;
    margin: 0px;
}