.skills-container {
    min-height: 94vh;
    max-width: 530px;
    padding: 6vh 0vw;
    display: inline-block;
}

.skill-box {
    display: inline-block;
    padding: 5px;
    border: 2px solid white;
    border-radius: 20px;
    margin: 4px;
}

.skill-box:hover {
    border-color: #0078FF;
}

.skills-flex {
    display: flex;
    align-items: center;
}

.skill-icon {
    height: 28px;
    margin-right: 5px;
}

.skill-name {
    font-size: 17px;
    margin: 0px;
}

.skills-section {
    display: inline-block;
}

@media(min-width: 700px){
    .skills-container {
        height: 85vh;
        width: 530px;
        padding-top: 15vh;
    }

    .skill-box {
        height: 32px;
        margin-bottom: 8px;
    }

    .skills-flex {
        align-items: center;
    }

    .skill-icon {
        height: 32px;
    }

    .skill-name {
        font-size: 18px;
    }
}