.about-container {
    min-height: 96vh;
    padding: 4vh 7vw;
}

.portfolio-picture {
    height: 225px;
    width: 225px;
    margin-top: 15px;
    border: 2px solid white;
    border-radius: 50%;
}

.education-block {
    margin: 15px 0px;
}

/* .institution {
    text-align: center;
} */

.education-italics {
    font-style: italic;
    /* text-align: center; */
}

@media(min-width: 700px){
    .about-container {
        height: 88vh;
        padding: 12vh 14vw;
    }

    .portfolio-picture {
        height: 300px;
        width: 300px;
        margin-bottom: 25px;
    }
}