.about-container {
    min-height: 96vh;
    padding: 4vh 7vw;
}

.portfolio-picture {
    height: 225px;
    width: 225px;
    margin-top: 15px;
    border: 2px solid white;
    border-radius: 50%;
}

.education-block {
    margin: 15px 0px;
}

.education-italics {
    font-style: italic;
}