h1 {
  font-size: 30px;
  font-weight: 300;
  margin: 0px;
  color: white;
  letter-spacing: 1px;
}

h3 {
  font-size: 23px;
  font-weight: 300;
  margin: 10px;
  color: white;
}

h4 {
  font-size: 17px;
  font-weight: 300;
  color: white;
  margin: 15px 0px;
}

h6 {
  font-size: 14px;
  color: white;
  font-weight: 400;
  margin: 9px;
}

p {
  margin: 4px;
  font-size: 17px;
  color: white;
  text-align: left;
}

p:hover {
  color: #0078FF;
}

button {
  height: 30px;
  width: 130px;
  margin: 0px 7px;
  border: 2px solid white;
  background-color: #181D23;
  font-size: 16px;
  font-weight: 500;
  color: white;
}

button:hover {
  border-color: #0078FF;
  color: #0078FF;
}

button:active {
  border-color: white;
  color: white;
}

.App {
  background-color: #181D23;
  text-align: center;
}

@media(min-width: 700px){
  h1 {
    font-size: 35px;
  }
}